<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>register</title>
    <link rel="icon" type="image/png" sizes="67x67" href="{%static 'img/fav.png' %}">
    <link rel="icon" type="image/png" sizes="67x67" href="{%static 'img/fav.png' %}">
    <link rel="icon" type="image/png" sizes="67x67" href="{%static 'img/fav.png' %}">
    <link rel="icon" type="image/png" sizes="67x67" href="{%static 'img/fav.png' %}">
    <link rel="icon" type="image/png" sizes="67x67" href="{%static 'img/fav.png' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'fonts/simple-line-icons.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/Login-Form-Clean.css'%}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background: var(--bs-yellow);">
        <div class="container"><a class="navbar-brand" href="index.html" style="color: var(--bs-white);">Zoopzap</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color: var(--bs-white);"><i class="fa fa-bars" style="color: var(--bs-white);"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style="color: var(--bs-white);">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="color: var(--bs-white);">login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact" style="color: var(--bs-white);">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="login-clean" style="height: 720.2px;">
        <form action="{% url 'register' %}" method="post" data-bss-redirect-url="app.html" style="margin-top: 0px;">
            {% csrf_token %}
            <h2 class="visually-hidden">Register form</h2>
            <div class="illustration"><i class="fab fa-connectdevelop" style="color: rgb(255,222,47);"></i></div>
            <div class="mb-3"><input class="form-control" type="name" id="name" name="username" placeholder="User name" Required ></div>
            <div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" Required ></div>
            <div class="mb-3"><input class="form-control" type="tel" id="mobile" name="mobile" placeholder="Phone number" Required></div>
            <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Password" Required></div>
            <div class="mb-3"><input class="form-control" type="password" id="copassword" name="copassword" placeholder="Confirm Password" Required></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" data-bs-target="app.html" style="background: rgb(255,193,7);">REGISTER</button></div><a class="forgot" href="{%url 'login'%}">Already a Zoopzaper?</a>
        </form>
    </section>
    <footer>
        <div class="container">
            <p>©&nbsp;Zoopzap 2021. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/smart-forms.min.js'%}"></script>
    <script src="{%static 'js/new-age.js'%}"></script>
</body>

</html>